html { 
    height: 100% 
}

body{
    background-image: url(pexels-chait-goli-edit-2.jpg) ;
    font-family: sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(1000px);
}

.main {
    position: absolute;
    align-items: center;
    width: 400px;
    background: rgba(0, 0, 0, 0.9);
    margin: 17.5% 33%;
    padding: 5px;
    color: rgb(0, 0, 0);
    border-radius: 7.5px;
}

h1{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 10000;
    color: rgb(255, 255, 255);
}

.in{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
}

.in input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
}

