header {
    text-align: center;
    
}

body {
    background-image: url(pexels-chait-goli-2083840.jpg);
    background-size: 160%;
    background-position: center;
    font-family: sans-serif;
}

.main {
     
}